/*
	sitePreferences.less
	Holds all the standard style chioces for the site, colors, fonts
*/
/*	Media Querie break points*/
/*
/*	Main fonts names
*/
/*
/*	Colors
*/
/*
	sitePreferences.less
	Test the media queries.
	information comes from _development/css/libs/sitePreferences.less
*/
/*	Media Querie break points*/
/* Mobile layout */
body {
  background-color: yellow;
}
div {
  text-align: center;
}
#min {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 25px;
  width: 19.9999375em;
  background-color: green;
  border: solid thin black;
}
#mobile {
  position: absolute;
  left: 19.9999375em;
  top: 0px;
  height: 25px;
  width: 28em;
  background-color: yellow;
  border: solid thin black;
}
#tablet {
  position: absolute;
  left: 48em;
  top: 0px;
  height: 25px;
  width: 28.5em;
  background-color: purple;
  border: solid thin black;
}
#desktop {
  position: absolute;
  left: 76.5em;
  top: 0px;
  height: 25px;
  width: 700px;
  background-color: orange;
  border: solid thin black;
  border-right: 0px;
}
/* 
	Min Size 
	CSS to style the absolute min size of the design
*/
@media only screen and (max-width: 19.9999375em) {
  body {
    background-color: green;
  }
}
/*
	Tablet layout 
*/
@media only screen and (min-width: 48em) {
  body {
    background-color: purple;
  }
}
/*
	Desktop layout 
*/
@media only screen and (min-width: 76.5em) {
  body {
    background-color: orange;
  }
}
/* 
	Max Size
	CSS to style the absolute max size of the design
*/
@media only screen and (min-width: 76.5000625em) {
  body {
    /*background-color: black;*/
  }
}
